body {
    background-color: $quaternary;
}

.nav-link {
    color: $white;
}

h3 {
    color: $purple;
}

h2 {
    color: $primary;
    font-weight: 100;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 50px;
    margin-bottom: 30px;
}

figcaption {
    color: $tertiary;
}

#register {
    background-color: $primary;
    padding: 60px;
}

.page-footer {
    background-color: $white;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
}

.zeroMargin {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
    padding-right: 24px;
    padding-left: 24px;
}

#register {
    input[type="text"] {
        border-color: $white;
        background-color: $primary;
        border-radius: 0px;
    }

    input[type="email"] {
        border-color: $white;
        background-color: $primary;
        border-radius: 0px;
    }
}

.logo {
    max-width: 50px;
    padding:8px;
}


h1 {
    padding-top: 20px;
    font-weight: 100;
    letter-spacing: 5px;
    word-spacing: 5px;
    color: $white;
    margin-bottom: 35px;
    font-size: 50px;

    b {
        font-weight: 900;
    }
}

.navbar {
    width: 100%;
    padding-left: 100px;
    padding-right: 8px;
}
.nav{
    width:100%;
    display:flex;
    justify-content:space-between;
}

.text1 {
    font-size: 25px;
    font-weight: 500;
    padding-right: 30px;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.text2 {
    font-size: 30px;
    font-weight: 600;
    max-width: 400px;
    letter-spacing: 2px;
    word-spacing: 5px;
}
section{
    margin-top:50px;
}